fastapi
uvicorn
python-dotenv
python-multipart
pydantic

# Database
pymongo
SQLAlchemy

# ML
pandas
numpy
scikit-learn
matplotlib
scipy

# GenAI / LangChain
langchain
langchain-community
langchain-core
langchain-openai
langchain-experimental
langchain-chroma
langchain-text-splitters
langgraph
chromadb
openai
tabulate

# Testing
pytest
httpx